@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Inter:wght@400;500;600;700;800;900&display=swap");
.container {
    max-width: 1264px !important;
}
header {
    background: #ffffff;
    nav {
        display: flex;
        justify-content: space-between;
        padding: 13px 0px;
        .nav-content {
            height: fit-content;
            margin: auto 0px;
            a {
                font-family: "Inter", sans-serif;
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 25px;
                color: #222222;
                margin-left: 19px;
                text-decoration: none;
            }
            button {
                padding: 16px 24px;
                background: #fc642d;
                border-radius: 50px;
                font-family: "Inter";
                font-style: normal;
                font-weight: 600;
                font-size: 14px;
                line-height: 14px;
                color: #ffffff;
                border: 0px;
                margin: auto 0px;
            }
        }
    }
}
.section1 {
    background: #faf8f6;
    padding: 31px 0px 33px 0px;
    h1 {
        font-family: "DM Serif Display", serif;
        font-style: normal;
        font-weight: 400;
        font-size: 48px;
        line-height: 60px;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: #222222;
        padding: 0px 151px 0px 151px;
        margin-bottom: 32px;
    }
    .sec1-content {
        padding-top: 31px;
        padding-left: 59px;
        h2 {
            font-family: "Inter";
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            letter-spacing: 0.2em;
            text-transform: uppercase;
            color: #767676;
            margin-bottom: 8px;
        }
        h3 {
            font-family: "DM Serif Display", serif;
            font-style: normal;
            font-weight: 400;
            font-size: 48px;
            line-height: 58px;
            letter-spacing: 0.02em;
            text-transform: capitalize;
            color: #222222;
            padding-right: 143px;
            margin-bottom: 24px;
        }

        h4 {
            font-family: "Inter", serif;
            font-style: normal;
            font-weight: 700;
            font-size: 40px;
            line-height: 48px;
            letter-spacing: 0.01em;
            color: #222222;
            margin-bottom: 8px;
            text-align: center;
        }
        h5 {
            width: 101px;
            font-family: "Inter", sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 25px;
            letter-spacing: 0.01em;
            color: #767676;
            text-align: center;
        }
        p {
            font-family: "Inter", serif;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 25px;
            letter-spacing: 0.01em;
            color: #767676;
            margin-bottom: 24px;
        }
        .sec1-box {
            margin-right: 48px;
        }
    }
}
.section2 {
    padding-top: 58px;
    h1 {
        font-family: "Inter", serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        color: #767676;
        margin-bottom: 8px;
    }
    h2 {
        font-family: "DM Serif Display", serif;
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
        line-height: 44px;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: #222222;
        margin-bottom: 45px;
    }
    .sec2-box {
        background: #ffffff;
        border: 1px solid #dddddd;
        border-radius: 8px;
        margin-bottom: 24px;
        img{
            width: 100%;
            height: 299.35px;
        }
        .sec2-box-content {
            display: flex;
            justify-content: space-between;
            padding: 18px 18px 19px 29px;
            h3 {
                margin-bottom: 0px;
                height: fit-content;
                margin: auto 0px;
                font-family: "DM Serif Display", serif;
                font-style: normal;
                font-weight: 400;
                font-size: 28px;
                line-height: 120%;
                color: #222222;
            }
            button {
                padding: 16px 24px;
                border: 1px solid #fc642d;
                border-radius: 50px;
                background-color: transparent;
                font-family: "Inter", serif;
                font-style: normal;
                font-weight: 600;
                font-size: 14px;
                line-height: 14px;
                color: #fc642d;
            }
        }
    }
}
.section3 {
    padding-top: 34px;
    .container {
        background: #f3f9fc;
        border-radius: 16px;
        padding: 24px 16px 24px 16px;
    }
    .sec3-box {
        display: flex;
        img {
            margin-right: 20px;
        }
        h3 {
            font-family: "DM Serif Display", serif;
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 30px;
            color: #222222;
        }
        p {
            font-family: "Inter", serif;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
            letter-spacing: 0.01em;
            color: #767676;
            margin-bottom: 0px;
        }
    }
    h1 {
        font-family: "Inter", serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        color: #767676;
        margin-bottom: 8px;
    }
    h2 {
        font-family: "DM Serif Display", serif;
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
        line-height: 44px;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: #222222;
        margin-bottom: 24px;
    }
}

.section4 {
    margin-top: 109px;
    h1 {
        font-family: "Inter", serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        color: #767676;
        margin-bottom: 8px;
    }
    h2 {
        font-family: "DM Serif Display", serif;
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
        line-height: 44px;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: #222222;
        margin-bottom: 47px;
    }
    .sec4-box {
        border: 1px solid #dddddd;
        border-radius: 8px;
        padding: 34px 32px 29px 27px;
        img {
            margin-bottom: 24px;
        }
        p {
            margin-bottom: 48px;
            font-family: "Inter", serif;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: #484848;
        }
        h3 {
            margin-bottom: 3px;
            font-family: "DM Serif Display", serif;
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 120%;
            letter-spacing: 0.02em;
            color: #222222;
        }
        h4 {
            font-family: "Inter", sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: #767676;
            margin-bottom: 0px;
        }
    }
}
.section5 {
    margin-top: 127px;
    padding: 48px 0px;
    background: #faf8f6;
    h1 {
        font-family: "Inter", serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        color: #767676;
        margin-bottom: 8px;
    }
    h2 {
        font-family: "DM Serif Display", serif;
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
        line-height: 44px;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: #222222;
        margin-bottom: 32px;
    }
    button {
        padding: 16px 24px;
        border: 1px solid #fc642d;
        border-radius: 50px;
        font-family: "Inter", serif;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 14px;
        color: #fc642d;
        background: transparent;
        margin-top: 18px;
    }
    a {
        text-decoration: none;
    }
    .sec5-box {
        margin-bottom: 24px;
        h3 {
            font-family: "DM Serif Display", serif;
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 20px;
            color: #222222;
            padding: 14px 16px;
            margin-bottom: 0px;
            margin-top: -48px;
            background: rgba(255, 255, 255, 0.38);
            backdrop-filter: blur(6.5px);
        }
    }
}
.center {
    display: flex;
    justify-content: center;
}
footer {
    img {
        margin-bottom: 20px;
    }
    .footer-content {
        display: flex;
        justify-content: space-between;
        .details {
            a {
                font-family: "Inter", serif;
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 20px;
                color: #484848;
                text-decoration: none;
                margin-right: 32px;
                img {
                    margin-bottom: 0px;
                    margin-right: 8px;
                }
            }
        }
        .social-media {
            img {
                margin-bottom: 0px;
                margin-right: 14px;
            }
        }
    }
}
.disclaimer {
    margin-top: 42px;
    background: #fc642d;
    padding: 18px 0px;
    h1 {
        text-align: center;
        margin-bottom: 0px;
        font-family: "Inter", serif;
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 22px;
        color: #ffffff;
    }
}
@media only screen and (min-width: 200px) and (max-width: 576px) {
    .sm-none{
        display: none !important;
    }
    header{
        nav{
            .nav-content{
                display: flex;
            }
        }
    }
    .section1 {
        img {
            width: 100%;
        }
        h1 {
            font-size: 24px;
            line-height: 36px;
            padding: 0px;
        }
        .sec1-content {
            padding-left: 0px;
            text-align: center;
            h3 {
                padding-right: 0px;
                font-size: 42px;
                line-height: 46px;
            }
            p {
                font-size: 14px;
                line-height: 22px;
            }
            .sec1-box {
                margin-right: 10px;
                h4 {
                    font-size: 32px;
                    line-height: 36px;
                }
            }
        }
    }
    .section2{
        .sec2-box{
            img{
                width: 100%;
                height: 160.85px;
            }
            .sec2-box-content{
                padding: 12px 12px 12px 18px;
                h3{
                    font-size: 20px;
                    width: 195px;
                }
                button {
                    padding: 10px 14px;
                    font-size: 12px;
                }
            }
            }
        }
        .section3{
            .sec3-box{
                margin: 12px 0px;
            }
        }
        .section4 {
            margin-top: 60px;
            h2 {
                font-size: 32px;
                line-height: 38px;
                margin-bottom: 32px;
            }
            .sec4-box {
                border: 1px solid #dddddd;
                border-radius: 8px;
                margin-bottom: 24px;
                padding: 25px 25px 25px 25px;
                p {
                    margin-bottom: 24px;
                }
            }
        }
        .section5 {
            margin-top: 60px;
            padding: 32px 0px;
            .sec5-box{
                img{
                    width: 100%;
                }
                h3{
                    margin-top: -36px;
                    padding: 8px 16px;
                    font-size: 20px;
                }
            }
        }
        footer{
            padding-top: 40px;
            .footer-content{
                display: block;
                .details{
                    a{
                        display: block;
                        margin-bottom: 10px;
                    }
                }
                .social-media{
                    margin-top: 24px;
                }
            }
        }
        .disclaimer {
            h1 {
                font-size: 12px;
                line-height: 15px;
              }
        }
    }
